@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: monospace;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

#flying-text{
  font-family: 'Space Mono', monospace;
}